<div class="col-md-6">
  <h2 class="text-center">Add Mark</h2>
  <mat-card-content>
<form #f="ngForm" novalidate  (ngSubmit)="f.form.valid && createMark()">
  <div class="form-group">
    <label for="idMark">IdMark:</label>
    <input type="idMark" [(ngModel)]="curmark.idMark" #idMark="ngModel" placeholder="idMark" name="idMark" class="form-control" id="idMark" required pattern="^[0-9]*$" maxlength="10">
    <div *ngIf="f.submitted && !idMark.valid" class="alert alert-danger">ID use only numbers</div>
  </div>

  <div class="form-group">
    <label for="mark">Mark:</label>
  <mat-select placeholder="Choose a mark" [(ngModel)]="curmark.mark" #Mark="ngModel" name="mark"  required>
    <mat-option *ngFor="let mark of marks" [value]="mark" >
      {{mark}}
    </mat-option>
  </mat-select>
   <div *ngIf="f.submitted && !Mark.valid" class="alert alert-danger">Mark is required</div>
  </div>

  <div class="form-group">
   <label for="date">Date:</label>
   <!--  <input [(ngModel)]="curmark.date" #date="ngModel" placeholder="date" name="date" class="form-control" id="date" required>
   <div *ngIf="f.submitted && !date.valid" class="alert alert-danger">LastName is required</div>
    -->
    <mat-form-field>
   <input matInput [matDatepicker]="picker" #date="ngModel" placeholder="Choose a date" name="date" [(ngModel)]="curmark.date " required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
      
    </mat-form-field> 
    <div *ngIf="f.submitted && !date.valid" class="alert alert-danger">Date is required</div>
    </div>
   <div class="form-group">
    	<label for="student">Student:</label>
    	<mat-select placeholder="Choose a student" [(ngModel)]="curmark.student" name="stud" #Student="ngModel" required>
    <mat-option *ngFor="let stud of students" [value]="stud" >
      {{stud.fio}}
    </mat-option>
  </mat-select>
<div *ngIf="f.submitted && !Student.valid" class="alert alert-danger">Student is required</div>
</div>

 <div class="form-group">
    	<label for="subject">Subject:</label>
    	<mat-select placeholder="Choose a subject" [(ngModel)]="curmark.subject" name="subj" #Subject="ngModel" required>
    <mat-option *ngFor="let subj of subjects" [value]="subj" >
      {{subj.name}}
    </mat-option>
  </mat-select> 
<div *ngIf="f.submitted && !Subject.valid" class="alert alert-danger">Subject is required</div>
</div>
  <button class="btn btn-success"  type="submit" >Create</button>
</form>
</mat-card-content>
</div>