<div >
<mat-card-content>
<h2>Marks List</h2>


<div>

<button  type="button" class="btn btn-primary" data-toggle="button" [routerLink]="['/content',{ outlets: { cont: ['add-mark'] } }]" [disabled]="isAccess()">
  Set Mark
</button>

</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z7" matSort>

  
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{ mark.idMark}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="mark" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> Mark </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{mark.mark}} </mat-cell>
  </ng-container>

 
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{mark.date}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="student">
    <mat-header-cell *matHeaderCellDef > Student </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{mark.student.fio}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="subject">
    <mat-header-cell *matHeaderCellDef > Subject </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{mark.subject.name}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="group">
    <mat-header-cell *matHeaderCellDef > Group </mat-header-cell>
    <mat-cell *matCellDef="let mark"> {{mark.student.gr.name}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="edit">
     <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
    <mat-cell *matCellDef="let curmark"> 
    <button class="btn btn-success" [routerLink]="['/content',{ outlets: { cont: ['edit-mark',curmark.idMark] } }]" [disabled]="isAccess()">Edit</button>
    
     </mat-cell>
     
</ng-container>
 <ng-container matColumnDef="delete">
     <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let mark"> 
    
    <button ngConfirm [title]="'Confirm'"
  [message]="'Are you sure delete this item?'"
  [options]="options"
  (onConfirm)="deleteMark(mark)"
  (onCancel)="cancelled()" class="btn btn-danger"  (click)="confirmed()" [disabled]="isAccess()">Delete</button>
     </mat-cell>
   
</ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 </mat-card-content>

</div>