<div class="col-md-6">
  <h2 class="text-center">Add Subject</h2>
  <mat-card-content>
<form #f="ngForm" novalidate  (ngSubmit)="f.form.valid && createSubject()">
  <div class="form-group">
    <label for="idSubj">IdSubj:</label>
    <input type="idSubj" [(ngModel)]="subject.idSubj" #idSubj="ngModel" placeholder="idSubj" name="idSubj" class="form-control" id="idSubj" required pattern="^[0-9]*$" maxlength="10">
    <div *ngIf="f.submitted && !idSubj.valid" class="alert alert-danger">ID use only numbers</div>
  </div>

  <div class="form-group">
    <label for="Name">Name:</label>
    <input [(ngModel)]="subject.name" #Name="ngModel" placeholder="Name" name="Name" class="form-control" type="text" id="Name" required >
    <div *ngIf="f.submitted && !Name.valid" class="alert alert-danger">Name is required</div>
  </div>

  
  <div class="form-group">
    	<label for="teacher">Teacher:</label>
    	<mat-select placeholder="Choose a teacher" [(ngModel)]="subject.teacher" #Teacher="ngModel" name="teacher" required>
    <mat-option *ngFor="let teacher of teachers" [value]="teacher" >
      {{teacher.fio}}
    </mat-option>
  </mat-select>
<div *ngIf="f.submitted && !Teacher.valid" class="alert alert-danger">Teacher is required</div>
</div>
  <button class="btn btn-success"  type="submit" >Create</button>
</form>
</mat-card-content>
</div>