<div class="col-md-6">
  <h2 class="text-center">Edit Subject</h2>
  <mat-card-content>
<form #f="ngForm" novalidate  (ngSubmit)="f.form.valid && editSubject()" >
  <div class="form-group">
    <label for="idSubj">IdSubj:</label>
    <input type="idSubj" [readOnly]="true" [(ngModel)]="subject.idSubj" #idSubj="ngModel" placeholder="idSubj" name="idSubj" class="form-control" id="idSubj" required pattern="^[0-9]*$" maxlength="10" #change>
    <div *ngIf="f.submitted && !idSubj.valid" class="alert alert-danger">ID use only numbers</div>
  </div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input [(ngModel)]="subject.name" #Name="ngModel" placeholder="Name" name="Name" class="form-control" type="text" id="Name" required #change>
    <div *ngIf="f.submitted && !Name.valid" class="alert alert-danger">FirstName is required</div>
  </div>

 
  <div class="form-group">
    	<label for="teacher">Teacher: </label>
    	
<mat-form-field>
<mat-select style="width:250px" placeholder="" [(ngModel)]="subject.teacher" name="selectgroup" [compareWith]="compareFn" #change>
    <mat-option style="width:250px"  *ngFor="let teacher of teachers" [value]="teacher" >
      {{teacher.fio}}
    </mat-option>
  </mat-select>
  </mat-form-field>
</div>
  
    
  <button class="btn btn-success" type="submit">Edit</button>
  <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
</form>
</mat-card-content>
</div>