<div class="col-md-6" >
  <h2 class="text-center">Add Student</h2>
  <mat-card-content>
<form #f="ngForm" novalidate  (ngSubmit)="f.form.valid && createStud()">
  <div class="form-group">
    <label for="idStud">IdStud:</label>
    <input type="idStud" [(ngModel)]="stud.idStud" #idStud="ngModel" placeholder="idStud" name="idStud" class="form-control" id="idStud" required pattern="^[0-9]*$" maxlength="10">
    <div *ngIf="f.submitted && !idStud.valid" class="alert alert-danger">ID use only numbers</div>
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input [(ngModel)]="stud.firstName" #firstName="ngModel" placeholder="First Name" name="firstName" class="form-control" type="text" id="firstName" required >
    <div *ngIf="f.submitted && !firstName.valid" class="alert alert-danger">FirstName is required</div>
  </div>

  <div class="form-group">
   <label for="lastName">Last Name:</label>
   <input [(ngModel)]="stud.surName" #LastName="ngModel" placeholder="Last name" name="lastName" class="form-control" id="lastName" required>
   <div *ngIf="f.submitted && !LastName.valid" class="alert alert-danger">LastName is required</div>
  </div>
  
  <div class="form-group">
   <label for="patronymic">Patronymic:</label>
   <input [(ngModel)]="stud.patronymic" #Patronymic="ngModel" placeholder="patronymic" name="patronymic" class="form-control" id="patronymic" required>
   <div *ngIf="f.submitted && !Patronymic.valid" class="alert alert-danger">Patronymic is required</div>
  </div>
  
  <div class="form-group">
   	<label for="course">Course:</label>
   	<input [(ngModel)]="stud.course" #Course="ngModel" placeholder="course" name="course" class="form-control" id="course" required pattern="[1-5]{1}">
   	<div *ngIf="f.submitted && !Course.valid" class="alert alert-danger">Invalid course. Course should be 1-5</div>
  </div>
  <div class="form-group">
    	<label for="group">Group:</label>
    	<mat-select placeholder="Choose the group" [(ngModel)]="stud.gr" #Group="ngModel" name="selectgroup" >
    <mat-option *ngFor="let gr of grs" [value]="gr" >
      {{gr.name}}
    </mat-option>
  </mat-select>
<div *ngIf="f.submitted && !Group.valid" class="alert alert-danger">Group is required</div>
</div>
  <button class="btn btn-success"  type="submit" >Create</button>
</form>
</mat-card-content>
</div>